@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");


body {
  font-family: "Source Sans Pro", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-item {
    @apply flex items-center space-x-4 py-2 hover:bg-emerald-500 hover:px-4 hover:rounded-md transition-all my-2
  }

  .blur-effect {
  @apply absolute -inset-1 bg-gradient-to-r from-emerald-400
         to-purple-500 rounded-lg blur-xl opacity-75 group-hover:opacity-100 
        transition duration-1000 group-hover:duration-200
  }

  .btn {
    @apply px-4 py-2
    bg-gradient-to-r from-indigo-500 to-emerald-400 rounded-lg text-white
    hover:bg-gradient-to-r hover:from-indigo-400 hover:to-emerald-300 
    active:bg-gradient-to-r active:from-indigo-300 active:to-emerald-200
  }
}